<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="/">
          <img src="/assets/json-svg.svg" alt="logo">
        <h1>Locale Manager</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Opened files" nzIcon="file">
        <ul>
          <li nz-menu-item nzMatchRouter *ngFor="let file of currentFiles">
          <a [routerLink]="['/view', file.name]" >{{ file.name }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <nz-button-group>
          <!-- UPLOAD BUTTON -->
          <button nz-button (click)="uploadClick()">
            <span>
              <i nz-icon nzType="upload" nzTheme="outline"></i>
              Upload File
            </span>
          </button>
          <!-- DOWNLOAD BUTTON -->
          <button nz-button (click)="downloadclick()">
            <span>
              <i nz-icon nzType="download" nzTheme="outline"></i>
              Download File
            </span>
          </button>
          <input #uploadInput type="file" nz-input style="display: none;" (change)="onInputFile()" accept=".json" multiple>
        </nz-button-group>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
